.about{
    display:flex;
    position: relative;
    margin: calc(5% + 200px) 5%;
    padding: 0;
}

.about-value{
    margin: 130px -80px;
    font-family: var(--font-1);
    font-size: 4rem;
    font-weight: 400;
    line-height: 62px;
    transform-origin: top;
    transform: rotate(90deg);
}

.about img{
    width: 518px;
}

.about-data{
    margin: 0px 120px
}

@media screen and (max-width: 768px){
    .about{
        margin: calc(5% ) 5%;
    }

    .about-value{
        margin: 130px -100px;
        font-size: 4rem;

    }

    .about img{
        width: 256px;
    }

    .about-data{
        
    }
}