.about{
    display: block;
    position: relative;
    margin: 0 5%;
}

.about h1{
    position: absolute;
    font-family: var(--font-1);
    font-size: 4rem;
    font-weight: 400;
    line-height: 62px;
    transform-origin: 0;
    transform: rotate(90deg);
}