@font-face {
  font-family: nofex;
  src: url(../font/Nofex.otf);
}

:root{
  --font-1: nofex;
  --body : #fff;
  --primary : #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  behavior: smooth;

}

::-webkit-scrollbar{
  overflow: hidden;
  overflow-y: scroll;
}
