.section-1{
    display:block;
    align-items: center;
    position: relative;
    font-family:var(--font-1);
    background-color: var(--body);
}

.main {
    z-index: 1;
    padding: 4rem 0px;
}

.main span {
    display: block;
    margin: 1.5% 0px;
    height: 1px;
    width: 20%;
    background-color: var(--primary);
}

.first {
    margin-left: 5%;
    display: block;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 10rem;
    color: var(--primary);
    -webkit-text-stroke: 1px var(--primary);
}

.last {
    text-transform: uppercase;
    margin-left: 5%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 6rem;
    line-height: 0px;
    color: var(--primary);
}

.btn-contact{
    display: block;
    float: right;
    margin: 5%;
}

.cont-1{
    float: right;
    margin: 5px 0 0;
    height: 300px;
    width: 1px;
    background-color: var(--primary);
}

.contact {
    float: right;
    margin: 20px 20px 20px 0;
    padding: 13px 31px;
    border: none;
    background-image: url(../img/btn-blk.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

.contact a{
    font-size: 1rem;
    font-weight: 600;
    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--body);
}

.cont-2{
    float: right;
    margin: 0;
    width: 300px;
    height: 1px;
    background-color: var(--primary);
}

.cont-3{
    display: block;
    background-color: var(--body);
}

@media screen and (max-width: 768px){
    .first{
        font-size: 3.5rem;
        margin: 0 2%;
    }

    .last{
        font-size: 2rem;
        margin: 0 2%;
    }

    .btn-contact{
        margin: 2%;
    }

}