.prj{
    display:flex;
    flex-direction: column;
    gap: 10%;
    margin: 5%;
    height: 200vh;
    font-family: var(--font-2);
    
}

.prj__title{
    display: flex;
    right: 0;
    margin: 0 0 10%;
    justify-content: end;
    font-family: var(--font-1);
    font-size: 2rem;
}

.prj__slide{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
    
}

.porto1{
    height: 100%;
    width: 260px;
}

.porto2{
    position: absolute;
    width: 410px;
}

.prj__load{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}