.sk {
    display: block;
    flex-direction: column;
    background-image: url(../img/Component-3.svg);
    background-repeat: no-repeat;
    padding: 0 10vw;
    margin: 20vh 0;
}

.sk__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20vh 0 ;
}
.sk__item h5{
    justify-content: end;
}

.sk__list1{
    display: flex;
    
    background-color: var(--primary);
    color: var(--body);
}

.sk__list1 span{
    display: flex;
    align-items: center;
    padding: 10px 120px 10px 15px;
    width: 340px;
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    transition: all 0.2s;
    
}

.sk__list1::before {
    content: "";
    margin-top: 7px;
    padding: 6px 0 6px 7px;
    height: 12px;
    width: 4px;
    border-top: 0.2px solid black;
    border-bottom: 0.2px solid black;
    border-left: 0.2px solid black;
    transform: scale(0);
}

.sk__list1::after {
    content: "";
    margin-top: 7px;
    padding: 6px 0 6px 7px;
    height: 12px;
    width: 4px;
    border-top: 0.2px solid black;
    border-bottom: 0.2px solid black;
    border-left: 0.2px solid black;
    transform: scale(0);
}

.sk__list1:hover{
    background-color: #d3d3d3;
    opacity: 30;
    color: var(--primary);
}

.sk__list1:hover:before{
    transform: scale(2);
}
.sk__list1:hover:after{
    transform: scale(-2);
}

.sk__item h5{
    display: flex;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
}

@media (max-width: 768px){
    .sk__list1{
        width: 100%;
    }
}

.prj {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    height: 200vh;
    font-family: var(--font-2);
    background-color: var(--body);
}

.prj__main{
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.prj__title {
    display: flex;
    right: 0;
    margin: 0 0 10%;
    justify-content: end;
    font-family: var(--font-1);
    font-size: 2rem;
}

.pl__slide {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;

}

.porto1 {
    height: 100%;
    width: 260px;
}

.porto2 {
    position: absolute;
    width: 410px;
}

.shape{
    margin: 10%;
    width: 400px;
    height: 400px;
    background-color: #d3d3d3;
}

.prj__line{
    display: flex;
    position: relative;
    top: -50%;
    height: 100%;
    width: 1px;
    mix-blend-mode: difference;
    background-color: var(--body);
    transform-origin: bottom;
    animation: line-up .5s linear 1 normal none;
}

@keyframes line-up {
    0% {
        transform: scaleY(0);
        
    }
    100% {
        transform: scaleY(100%);
    }
}